
<div class="panel panel-primary">
                                        <div class="panel-heading" align="center">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                                 Bill Detail
                                                </a>
                                            </h4>
                                        </div>
                                             
                                        <div id="collapseOne2" class="panel-collapse collapse in">
                                             
                                           
                                            <div class="panel-body">
                                                
                                               
                                                
   <div id="dvExcelData">
                                                     <div  class="row spaceBetRow "> 
                                                     <div class="col-md-2 mb-1" >                                                             
                                                         <span>Records :</span><span>{{lengthObj}}</span>
                                                    </div>
                                                   
                                                 </div>
                                                 <div  class="row spaceBetRow " id="sectionsInfo"> 
                                                        <div class="x_content">
                                                          <table class="table table-striped table-bordered dataTable no-footer" >
                                                            
                                                              <tr>
                                                               <th>No.</th>
                                                              <th>Client Name</th>
                                                              <th>Email Id</th>
                                                              <th> Mobile no.</th>
                                                              <th>Site Address</th>
                                                              <th>on Date</th>
                                                              <th>Total Guards</th>
                                                              <th>Days</th>
                                                              <th>Bill(in rupees)</th>
                                                              <th> Bill Status</th>
                                                              <th> Change Status</th>
                                                              
                                                              </tr>
                                                              
                                                              <tr ng-repeat="obj in clientReqObj">
                                                                  <td>{{$index +1}}</td>
                                                                  <td>{{obj.userBean.username}}</td>
                                                                  <td>{{obj.userBean.email}}</td>
                                                                  <td>{{obj.userBean.mobilenum}}</td>
                                                                  <td>{{obj.address}}</td>
                                                                   <td>{{obj.req_on_date}}</td>
                                                                    <td>{{obj.tot_guard}}</td>
                                                                     <td>{{obj.days}}</td>
                                                                    <td>{{obj.bill}}</td>
                                                                  <td>{{obj.bill_status}}</td>
                                                                   <td><input type="button"  ng-click="updateRecord(obj.req_id)" value="Paid" class="btn btn-primary"  /></td>
                                                                  
                                                                    
                                                            
                                                                  
                                                                 
                                                              </tr>
                                                             
                                                          </table> </div>
                                                      
                                                 </div>
                                                 </div>
                                                
                                              
                                              
                                            </div>
                                         
                                        </div>
     

                                    </div>

